Repository lab-brussels-1/loruki-group-5, pull requests merged in 2022-04, with the labels that each got.

#34 PR8_footer added
  assets/logos/Logo.png
  index.html
  styles/home.css
  styles/something.css
Labels: html, css

#36 Logo fixed
  index.html
Labels: good first issue

#41 retrospective file added
  .cspell.json
  planning/retrospective.md
Labels: planning, retrospective

#43 cursor and icon add
  assets/cursor.png
  index.html
Labels: home page
